body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
}
.navbar-brand img {
  margin-left: 10px;
}
.settings {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 10px;
  right: -10px;
}
.help {
  border: black solid 3px;
  border-radius: 20px;
  padding: 5px;
  margin-right: 8px;
  cursor: pointer;
}
.required {
  position: absolute;
  bottom: 5px;
  right: 10px;
}
.settings:hover {
  cursor: pointer;
}
#datatable_wrapper {
  margin-top: 20px!important;
}
.fa-cog {
  transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
}
.fa-cog:hover {
  transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.container-fluid {
  padding: 0!important;
}
.bg-text {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 100%;
    padding: 20px;
}
.divid {
  height: 5px;
  width: 100%;
  background-color: #09347A;
}
.social-footer a {
  color: #02448b;
}
.connect-footer {
  color: #484848;
  text-transform: uppercase;
  font-size: 1.25em;
  display: block;
  font-weight: bold;
}
.footer a {
  color: #02448b;
  text-decoration: none;
  font-weight: bold;
}
.footerT a {
  color: #02448b;
  text-decoration: none;
  font-weight: bold;
}
.bg {
  background-color: #EDF0F5;
}
.header {
  background-color: white;
}
.btn-nccO {
  background-color: #F0B50F;
  color: white;
  display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    border:none;
}
.hide {
  display: none;
}
.card-body {
  border: black solid 2px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.footerT {
  width: 100%;
}
.dataTables_filter {
   margin-right: 15px;
}
@media only screen and (max-width: 990px) {
  #footerAddress {
    display: none;
  }
  #footerLink {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .center {
    width: 100%;
  }
}
